<div class="container-fluid mt-3">
    <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
        <button class="btn btn-hide text-uppercase" type="button" data-bs-toggle="collapse" aria-expanded="false"
            aria-controls="filterbar" id="filter-btn">
            <span class="fa fa-angle-left" id="filter-angle"></span>
            <span id="btn-txt">Hide filters</span>
        </button>
        <form class="d-flex" id="search-form" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline" type="submit">Search</button>
            <button id="resetBtn" class="ml-2 btn btn-outline" />Reset</button>
        </form>

        <button class="btn btn-add text-uppercase justify-content-right" type="button" aria-controls="addproject"
            id="add-btn" data-bs-toggle="modal" data-bs-target="#add-project-Modal">
            <span class="fa bi-plus" id="add-project"></span>
            <span id="btn-txt">Add Project</span>
        </button>

        {{!-- <nav class="navbar navbar-expand-lg navbar-light pl-lg-0 pl-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav"
                aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation" onclick="changeIcon()"
                id="icon">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav> --}}
    </div>
    <div id="content" class="my-3">
        <div id="filterbar" class="collapse">
            <div class="box border-bottom">
                <div class="form-group text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <button id="applyTag" class="btn btn-success form-check-label active" />Apply</button>
                    </div>
                </div>
            </div>
            <div class="box border-bottom">
                <div class="box-label text-uppercase d-flex align-items-center">Tags
                    <button class="btn ml-auto" type="button" id="out">
                        <span class="fa bi-plus"></span>
                    </button>
                </div>
                <div id="inner-box" class="mt-2 mr-1">
                    {{#each tags as |tag|}}
                    <div class="my-1">
                        <label class="tick">{{tag.tag_name}}
                            <input class="tag_checks" type="checkbox" data-tag="{{tag.tag_name}}" />
                            <span class="check"></span>
                        </label>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse mb-3">
            <select class="float-right" name="sort" id="sort">
                <option value="" hidden selected>Sort by</option>
                <option value="sort-project-name">Name</option>
                <option value="sort-project-due">Due Date</option>
                <option value="sort-project-status">Status</option>
            </select>
            <button id="sortBtn" class="btn btn-outline" type="submit">Sort</button>
        </div>
        <div id="projects">
            <div class="row mx-0">
                {{#each projects as |project|}}
                <div class="project-div col-lg-4 col-md-6" data-id="{{project.id}}">
                    <div class="card d-flex flex-column align-items-center">
                        <div class="project-name">
                            <h3>{{project.project_name}}</h3>
                        </div>
                        <div class="project-name">
                            <p>{{format_date project.project_due}}</p>
                        </div>
                        <div class="card-img">
                            <br />
                            <p class="text-center">{{project.project_summary}}</p>
                        </div>
                        <div class="card-body pt-5">
                            <div class="d-flex align-items-center justify-content-center colors my-2">
                                {{#if (if_active project.project_status)}}
                                <button type="submit"
                                    class="status-button btn active-status-button btn btn-orange my-2 my-sm-0">
                                    {{format_uppercase project.project_status}}
                                </button>
                                {{/if}}
                                {{#if (if_pending project.project_status)}}
                                <button type="submit"
                                    class="status-button btn pending-status-button btn btn-orange my-2 my-sm-0">
                                    {{format_uppercase project.project_status}}
                                </button>
                                {{/if}}
                                {{#if (if_upcoming project.project_status)}}
                                <button type="submit"
                                    class="status-button btn upcoming-status-button btn btn-orange my-2 my-sm-0">
                                    {{format_uppercase project.project_status}}
                                </button>
                                {{/if}}
                                {{#if (if_cancelled project.project_status)}}
                                <button type="submit"
                                    class="status-button btn cancelled-status-button btn btn-orange my-2 my-sm-0">
                                    {{format_uppercase project.project_status}}
                                </button>
                                {{/if}}
                                {{#if (if_finished project.project_status)}}
                                <button type="submit"
                                    class="status-button btn finished-status-button btn btn-orange my-2 my-sm-0">
                                    {{format_uppercase project.project_status}}
                                </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- New Project Modal -->
<div class="modal fade new-project-Modal modal-lg" id="add-project-Modal" tabindex="-1" role="dialog" aria-labelledby="addProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModalLabel">Add New Project</h5>
            </div>
            <div class="modal-body">
                <form class="add-project-form">
                    <div class="input-group mb-3">
                        <div class="field-group">
                        <label for="addProjectName" class="form-label">Project Name</label>
                        <input type="text" class="form-control" id="addProjectName" placeholder="Project Name" required>
                        </div>
                        <div class="field-group">
                        <label for="addProjectDue" class="form-label">Due Date</label>
                        <input type="date" class="form-control" id="addProjectDue">
                        </div>
                    <div class="field-group">
                        <label for="addProjectBudget" class="form-label">Project Budget</label>
                        <input type="text" class="form-control" id="addProjectBudget" placeholder="$">
                    </div>
                    </div>
                    <div class="mb-3">
                        <label for="addProjectSummary" class="form-label">Project Summary</label>
                        <textarea class="form-control" id="addProjectSummary" rows="3"
                            placeholder="Short project summary" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="addProjectDescription" class="form-label">Project
                            Description</label>
                        <textarea class="form-control" id="addProjectDescription" rows="5"
                            placeholder="Project description"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Status</label>
                        <select class="form-select" id="addProjectStatus" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="active">Active</option>
                            <option value="pending">Pending</option>
                            <option value="upcoming">Upcoming</option>
                            <option value="cancelled">Cancelled</option>
                            <option value="finished">Finished</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-orange" id="add-project-btn-submit">Add Project</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

