<div class="container-fluid mt-5">
    <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">
        <button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar"
            aria-expanded="false" aria-controls="filterbar" id="filter-btn" onclick="changeBtnTxt(Show filters)">
            <span class="fa fa-angle-left" id="filter-angle"></span>
            <span id="btn-txt">Hide filters</span>
        </button>
        <form class="d-flex" id="search-form" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline" type="submit">Search</button>
    </form>

        <button class="btn btn-add text-uppercase justify-content-right" type="button" aria-controls="addproject" id="add-btn">
            <span id="add-project"></span>
            <span id="btn-txt">Add Project</span>
        </button>

        {{!-- <nav class="navbar navbar-expand-lg navbar-light pl-lg-0 pl-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav"
                aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation" onclick="changeIcon()"
                id="icon">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav> --}}
    </div>
    <div id="content" class="my-5">
        <div id="filterbar" class="collapse">
            <div class="box border-bottom">
                <div class="form-group text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success form-check-label">
                            <input class="form-check-input" type="radio" />
                            Reset
                        </label>
                        <label class="btn btn-success form-check-label active">
                            <input class="form-check-input" type="radio" checked />
                            Apply
                        </label>
                    </div>
                </div>
            </div>
            <div class="box border-bottom">
                <div class="box-label text-uppercase d-flex align-items-center">Tags
                    <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"
                        aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
                <div id="inner-box" class="collapse mt-2 mr-1">
                    {{#each tags as |tag|}}
                    <div class="my-1">
                        <label class="tick">{{tag.tag_name}}
                            <input type="checkbox" />
                            <span class="check"></span>
                        </label>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <select class= "float-right" name="sort" id="sort">
            <option value="" hidden selected>Sort by</option>
            <option value={{project_name}}>Name</option>
            <option value={{project_due}}>Due Date</option>
            <option value={{project_status}}>Status</option>
        </select>
        </div>
        <div id="projects">
            <div class="row mx-0">
                {{#each projects as |project|}}
                <div class="project-div col-lg-4 col-md-6" data-id="{{project.id}}">
                    <div class="card d-flex flex-column align-items-center">
                        <div class="project-name">{{project.project_name}}</div>
                        <div class="card-img">
                            <br />
                            <p>{{project.project_summary}}</p>
                        </div>
                        <div class="card-body pt-5">
                            <div class="d-flex align-items-center justify-content-center colors my-2">
                                <button class="btn btn-warning my-2 my-sm-0" type="submit">{{project.project_status}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script src="./js/main.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/dashboard.js"></script>